/**cv style**/

body{
    background-color: rgb(237, 237, 167);
    margin:0px;
    width: fit-content;
    
}



  .box1{
   width: 100%
 
  }
 
  td{
      vertical-align: bottom;
  }
  table, th, td {
   border: 1px solid black;
  }
  table {
   width: 60%;
   border-collapse: collapse;
  }
 
      
body{
    background-color: rgb(237, 237, 167);
}

img{
    width: 200px;  
    border-radius: 50%;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px; 
  }
  div.box1{
   width: 100%
 
  }
 
  td{
      vertical-align: bottom;
  }
  table, th, td {
   border: 1px solid black;
  }
  table {
   width: 60%;
   border-collapse: collapse;
  }
  
@media screen and (max-width:320px){
   h2,em{
       display: block;
       font-size: 0.8em;
       
   }
    .box1, .box2, .box3{
        width: fit-content;
    } 
    p{
        font-size: 0.85em;
    }
}
@media screen and (max-width:375px){
    h2,em{
        display: block;
        font-size: 0.8em;
        
    }
     .box1, .box2, .box3{
         width: fit-content;
     } 
     p{
         font-size: 0.85em;
     }
    
 }
 @media screen and (max-width:425px){
    h2,em{
        display: block;
        font-size: 0.8em;
        
    }
     .box1, .box2, .box3{
         width: fit-content;
     } 
     p{
         font-size: 0.85em;
     }
    
 }
