
body{
    background-color: rgb(237, 237, 167);
}

img{
    width: 200px;  
    border-radius: 50%;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px; 
  }
  div.box1{
   width: 100%
 
  }
 
  td{
      vertical-align: bottom;
  }
  table, th, td {
   border: 1px solid black;
  }
  table {
   width: 60%;
   border-collapse: collapse;
  }
  @media screen and (max-width:320px) {
      
body{
    background-color: rgb(237, 237, 167);
}

img{
    width: 200px;  
    border-radius: 50%;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px; 
  }
  div.box1{
   width: 100%
 
  }
 
  td{
      vertical-align: bottom;
  }
  table, th, td {
   border: 1px solid black;
  }
  table {
   width: 60%;
   border-collapse: collapse;
  }
  }
